.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #dbf8f3; */
}

/* ----------------- Tela Sing Up ----------------- */
.container-singup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dbf8f3;
  /* border-radius: 10px; */
}
.singup-apresentation {
  width: 40%;
  height: 90%;
  background-color: #51efc1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.aprasentation-box_img {
  width: 30%;
}
.box_img-img_cronometro {
  width: 100%;
}
.singup-registration_space {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.registration_space-box_creteAccount {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.box_createAccount-Title {
  margin: 0;
  color: #51efc1;
}
.box_createAccount-box_infoRegistration {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.box_infoRegistration-subtutle {
  margin-top: 1rem;
  color: #51efc1;
}
.box_infoRegistration-textArea {
  border-bottom-color: #51efc1;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  margin-top: 1rem;
  opacity: 0.5;
}
.seePassword {
  margin:0
}
.box_createAccount-backOption {
  opacity: .5;
}
.linkSingup {
  text-decoration: none;
  color: #51efc1;
}
.erroMensage {
  color: red
}
.box_infoReegistration-buttonSend {
  width: 60%;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  border-width: 0;
  background-color: #51efc1;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 2rem;
  outline: none;
}

/* ----------------- Tela Login ----------------- */
.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-image: url('./img/time.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #dbf8f3;
}
.container-login::after {
  /* background-image: url('./img/time.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #dbf8f3; */
  opacity: .5;
} 
.login-spaceForm {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #51efc1;
  /* align-self: flex-end; */
}

.loginArea-boxEmail {
  display: flex;
  flex-direction: column;
 
}
.boxEmail-subtitle {
  color: #ffffff;
}
.boxEmail-txtArea {
  background-color: #51efc1;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  margin-top: .5rem;
  margin-bottom: 1rem;
  color:grey;
  /* opacity: 0.5;  */
}
.loginArea-boxLogin_itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* color: #ffffff; */
}
.boxLogin_itens-legendItem {
  margin-right: 2rem;
  color: #ffffff;
}
.boxLogin_itens-linkItem {
  text-decoration: none;
  color: #ffffff;
}
.loginArea-buttonLogin {
  width: 60%;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  border-width: 0;
  background-color: #ffffff;
  color: #51efc1;
  font-size: 1.2rem;
  margin-top: 2rem;
  outline: none;
}

/* ----------------- Tela Cronometro ----------------- */
.containerCronometro {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  background-color: #51efc1;
}
.box-ul {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
}
.containerCronometro-itemlist {
  list-style: none;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  background-color: grey;
}
.boxButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.button {
  margin: 0 6px 0 6px;
}